<div class="fundo">
  <div class="bg-site">
    <div class="container body">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
          <div class="module">

            <h1 class="text-center equipe">Equipe</h1>
            <div class="borda">
              <p class="lead">Motivados pelo trabalho de conclusão de curso da modelista Beatriz dos Santos Chinello, a
                qual observou o déficit da indústria da moda no que diz respeito à inclusão de pessoas com limitação de
                movimentação e deficiência física, desenvolvemos este site que, além de ser uma loja virtual voltada a
                tal público, também promove sua inclusão.</p>
              <p class="lead">Beatriz buscou uma forma de suprir tal déficit da indústria através da criação de peças de
                vestuário para crianças com osteogênese imperfeita, também conhecida como “síndrome dos ossos de vidro”
                ou “síndrome dos ossos de cristal”.
                <br>
                Tais peças visam o maior conforto das crianças, como também a maior proteção física de seus corpos,
                devido à suas condições de maior fragilidade.</p>
              <p class="lead">O nome Cristal tem como objetivo evidenciar o preciosismo da vida das crianças que
                possuem a condição da síndrome de osteogênese imperfeita.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="bg-site">
      <div class="container">
      <!-- Anne -->
      <div class="blog-card alt ml-auto">
                <div class="meta">
                  <div class="anne meta2"></div>
                </div>
                <div class="description">
                  <h1>Anne Motta</h1>
                  <h2>Desenvolvedora Full Stack Jr</h2>
                  <p class="verde">Acredito no desenvolvimento da sociedade através do rompimento das estruturas padronizadas.
                  </p>
                  <p class="read-more read2">
                    <a href="https://github.com/AnneMotta" target="_blank">GitHub</a>
                  </p>
                  
                  <p class="read-more read2">
                    <a class="linke" href="https://www.linkedin.com/in/annemotta/" target="_blank">Linkedin</a>
                  </p>
                </div>
      </div>

      <!-- João -->
      <div class="blog-card mr-auto">
          <div class="meta">
            <div class="joao meta2"></div>
          </div>
          <div class="description">
            <h1>João Braga</h1>
            <h2>Desenvolvedor Full Stack Jr</h2>
            <p>Interessado por tecnologia desde a infância, autodidata, planeja começar a carreira como Desenvolvedor
              Full Stack pelo bootcamp da Generation Brasil.</p>
            <p class="read-more">
              <a class="hub" href="https://github.com/Joao-lbraga" target="_blank">GitHub</a>
            </p>

            <p class="read-more">
              <a class="linke" href="https://www.linkedin.com/in/joão-victor-lopes-braga/" target="_blank">Linkedin</a>
            </p>
          </div>
      </div>

      <!-- Edu -->
      <div class="blog-card alt ml-auto">
              <div class="meta">
                <div class="edu meta2"></div>
              </div>
              <div class="description">
                <h1>José Eduardo Freitas</h1>
                <h2>Desenvolvedor Full Stack Jr</h2>
                <p>Formado em engenharia elétrica e como técnico em automação industrial, com cerca de 4 anos de experiência
                  profissional na área. Descobriu a área da programação através de algumas disciplinas em sua graduação,
                  também utilizando-a em seu TCC.
                  Ao interessar-se pela tecnologia, buscou novos conhecimentos em cursos online e, na sequência, ingressou
                  no bootcamp da Generation Brasil.</p>
                <p class="read-more">
                  <a class="hub" href="https://github.com/EduCFreitas" target="_blank">GitHub</a>
                </p>
    
                <p class="read-more">
                  <a class="linke" href="https://www.linkedin.com/in/jose-eduardo-candido-de-freitas/" target="_blank">Linkedin</a>
                </p>
              </div>
      </div>

      <!-- Laura -->
      <div class="blog-card mr-auto">
          <div class="meta">
            <div class="laura meta2"></div>
          </div>
          <div class="description">
            <h1>Laura Brasileiro</h1>
            <h2>Desenvolvedora Full Stack Jr</h2>
            <p class="verde">Tem cerca de 3 anos de experiência em atendimento ao cliente. Descobriu a área da
              tecnologia ao acaso, durante o ensino médio. Misturando suas duas paixões: tecnologia e saúde. Visando seu
              crescimento profissional e pessoal.</p>
            <p class="read-more read2">
              <a href="https://github.com/lauraBrasileiro" target="_blank">GitHub</a>
            </p>

            <p class="read-more read2">
              <a class="linke" href="https://www.linkedin.com/in/laura-brasileiro/" target="_blank">Linkedin</a>
            </p>
          </div>
      </div>

      <!-- Solly -->
      <div class="blog-card alt ml-auto">
          <div class="meta">
            <div class="solly meta2"></div>
          </div>
          <div class="description">
            <h1>Sollyson Rodrigues</h1>
            <h2>Desenvolvedor Full Stack Jr</h2>
            <p> Realizou a piscina da École 42, um bootcamp intensivo com duração de 28 dias, onde teve seu primeiro
              contato com a programação e se apaixonou completamente pela área.
              Um amante da Tecnologia e da Arte, faz junção das suas duas maiores paixões:
              A programação e o design, realizando um trabalho inovador e bonito</p>
            <p class="read-more">
              <a class="hub" href="https://github.com/Solly42" target="_blank">GitHub</a>
            </p>

            <p class="read-more">
              <a class="linke" href="https://www.linkedin.com/in/sollyson-rodrigues/" target="_blank">Linkedin</a>
            </p>
          </div>
      </div>

      </div>
    </div>
  </div>
</div>
