<!-- Descritivo do projeto -->
<main>
    <article class="container mt-2 mb-3">
        <div class="row">
            <div class="col-12 text-center mt-5">
                <h1 class="display-4 mb-3">O Projeto</h1>
                <p class="lead">Motivados pelo trabalho de conclusão de curso da modelista Beatriz dos Santos Chinello, a qual observou o déficit da indústria da moda no que diz respeito à inclusão de pessoas com limitação de movimentação e deficiência física, desenvolvemos este site que, além de ser uma loja virtual voltada a tal público, também promove sua inclusão.</p>
                <p class="lead">Beatriz buscou uma forma de suprir tal déficit da indústria através da criação de peças de vestuário para crianças com osteogênese imperfeita, também conhecida como “síndrome dos ossos de vidro” ou “síndrome dos ossos de cristal”. Tais peças visam o maior conforto das crianças, como também a maior proteção física de seus corpos, devido à suas condições de maior fragilidade.</p>
                <p class="lead">O nome Cristal tem como objetivo evidenciar o preciosismo da vida das crianças que possuem a condição da síndrome de osteogênese imperfeita.</p>
            </div>
        </div>
    </article>
    
    <!-- Cards Sobre Nós -->
    <article class="container-fluid pb-3 mb-3">
        <div class="container justify-content-sm-center">
            <div class="row">
                <div class="col-12 text-center mt-3" id="sobreNos">
                    <h1 class="display-4">Sobre Nós</h1>
                </div>
            </div>
            <div class="card mt-2 mb-2 col-sm-12 col-md-12 col-lg-9 mr-auto rounded-lg py-2 mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3 div-img-card">
                        <img src="assets/card-anne.jpg" class="card-img rounded-circle text-center" alt="foto da Anne">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body text-center">
                            <h4 class="card-title">Anne Motta</h4>
                            <h5 class="card-subtible">Desenvolvedor Full Stack Jr</h5>
                            <p class="card-text">Redescobri a tecnologia através de um curso introdutório em C# e me apaixonei. Acredito no desenvolvimento da sociedade através de narrativas pluriversais e o rompimento da estrutura padronizada. Tenho experiência em produção cultural em um viés artista, sempre busquei me relacionar com narrativas transmídias.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2 col-sm-12 col-md-12 col-lg-9 ml-auto rounded-lg py-2 mb-3">
                <div class="row no-gutters">
                    <div class="col-md-9">
                        <div class="card-body text-center">
                            <h4 class="card-title">João Braga</h4>
                            <h5 class="card-subtible">Desenvolvedor Full Stack Jr</h5>
                            <p class="card-text">Interessado por tecnologia desde a infância, autodidata, planeja começar a carreira como Desenvolvedor Full Stack pelo bootcamp da Generation Brasil.</p>
                        </div>
                    </div>
                    <div class="col-md-3 div-img-card">
                        <img src="assets/card-joao.jpg" class="card-img rounded-circle" alt="foto do João">
                    </div>
                </div>
            </div>
            <div class="card mb-2 col-sm-12 col-md-12 col-lg-9 mr-auto rounded-lg py-2 mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3 div-img-card">
                        <img src="assets/card-eduardo.jpg" class="card-img rounded-circle" alt="foto do Eduardo">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body text-center">
                            <h4 class="card-title">José Eduardo Freitas</h4>
                            <h5 class="card-subtible">Desenvolvedor Full Stack Jr</h5>
                            <p class="card-text">Formado em engenharia elétrica e como técnico em automação industrial, com cerca de 4 anos de experiência profissional na área. Descobriu a área da programação através de algumas disciplinas em sua graduação, inclusive utilizando-a no desenvolvimento de seu TCC. Após formado interessou-se pela tecnologia, buscando aprimorar-se através de cursos online e, após a conclusão de tais cursos, ingressou no bootcamp da Generation Brasil.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-2 col-sm-12 col-md-12 col-lg-9 ml-auto rounded-lg py-2 mb-3">
                <div class="row no-gutters">
                    <div class="col-md-9">
                        <div class="card-body text-center">
                            <h4 class="card-title">Laura Brasileiro</h4>
                            <h5 class="card-subtible">Desenvolvedor Full Stack Jr</h5>
                            <p class="card-text">Tem cerca de 3 anos de experiência em atendimento ao cliente. Descobriu a área da tecnologia ao acaso, durante o ensino médio. Misturando suas duas paixões: tecnologia e saúde. Visando seu crescimento profissional e pessoal.</p>
                        </div>
                    </div>
                    <div class="col-md-3 div-img-card">
                        <img src="assets/card-laura.jpg" class="card-img rounded-circle" alt="foto da Laura">
                    </div>
                </div>
            </div>
            <div class="card col-sm-12 col-md-12 col-lg-9 mr-auto rounded-lg py-2 mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3 div-img-card">
                        <img src="assets/card-solly.jpg" class="card-img rounded-circle" alt="foto do Solly">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body text-center">
                            <h4 class="card-title">Sollyson Rodrigues</h4>
                            <h5 class="card-subtible">Desenvolvedor Full Stack Jr</h5>
                            <p class="card-text">Tem cerca de 4 anos de experiência em atendimento ao cliente. Estudou por cerca de 4 anos no SENAI-SP. Realizou a piscina da École 42, um bootcamp intensivo com duração de 28 dias, onde teve seu primeiro contato com a programação e se apaixonou completamente pela área.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article> <!-- Final cards Sobre Nós -->
</main>