<div class="body">

  <!-- -------------  SIDEBAR  ---------------- -->


  <input type="checkbox" id="toggleMenu" name="toggleMenu" class="hide" [checked]="estaMostrando" />
  <nav id="sidebar">
    <div class="custom-menu">
      <label matTooltip="CATEGORIAS" matTooltipPosition="after" id="sidebarCollapse" class="icon-cristal"
        for="toggleMenu">
        <img src="../../assets/side-icon.svg" alt="categorias">
      </label>
    </div>
    <!-- Categorias -->
    <div class="side pr-4 pt-4 pl-4">
      <h1 class="title matMenu">Categorias</h1>
      <ul class="list-unstyled components mb-5">
        <li>
          <img src="../../assets/icon-camiseta-produto.png" class="imagem-icon">
          <button class="buttonMenu" (click)="filtrarPor('camiseta', 'categoria')">Camisetas</button>
        </li>
        <li>
          <img src="../../assets/icon-vestido-produto.png" class="imagem-icon">
          <button class="buttonMenu" (click)="filtrarPor('vestido', 'categoria')">Vestido</button>
        </li>
        <li>
          <img src="../../assets/icon-moletom-produto.png" class="imagem-icon">
          <button class="buttonMenu" (click)="filtrarPor('moletom', 'categoria')">Moletons</button>
        </li>
        <li>
          <img src="../../assets/icon-calca-produto.png" class="imagem-icon">
          <button class="buttonMenu" (click)="filtrarPor('calça', 'categoria')">Calças</button>
        </li>
        <li>
          <img src="../../assets/icon-shorts-produto.png" class="imagem-icon">
          <button class="buttonMenu" (click)="filtrarPor('shorts', 'categoria')">Shorts</button>
        </li>
      </ul>

    </div>

    <!-- filtros -->

    <div class="p-4">
      <h1 class="title matMenu">Filtros</h1>
      <!-- cor -->
      <p class="paragrafo-filtro">Filtrar por Cor:</p>
      <ul class="list-unstyled components mb-5 inline-group">
        <br>
        <li class="inline">
          <button class="buttonMenu" (click)="filtrarPorCor('rosa')">
            <div class="bloco-rosa"></div>
          </button>
        </li>
        <li class="inline">
          <button class="buttonMenu" (click)="filtrarPorCor('branco')">
            <div class="bloco-branco"></div>
          </button>
        </li>
        <li class="inline">
          <button class="buttonMenu" (click)="filtrarPorCor('vermelho')">
            <div class="bloco-vermelho"></div>
          </button>
        </li>
        <li class="inline">
          <button class="buttonMenu" (click)="filtrarPorCor('azul')">
            <div class="bloco-azul"></div>
          </button>
        </li>
        <li class="inline">
          <button class="buttonMenu" (click)="filtrarPorCor('verde')">
            <div class="bloco-verde"></div>
          </button>
        </li>
      </ul>

    </div>
  </nav>


  <!-- chips -->

  <div class="wrapper d-flex align-items-stretch">

    <div class="wrapper" *ngIf="filtroAtual !== '' || filtroCorAtual !== ''">
      <p>Filtrando por:</p>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip (click)="resetarFiltro()" *ngIf="filtroAtual !== ''">{{filtroAtual}} </mat-chip>
        <mat-chip (click)="resetarFiltroCor()" *ngIf="filtroCorAtual !== ''">{{filtroCorAtual}}</mat-chip>
      </mat-chip-list>
    </div>



    <!-- cards -->

    <div class="container page-wrapper">
      <div class="page-inner">
        <div class="row">
          <div class="el-wrapper" *ngFor="let produto of listaProdutos">
            <div class="box-up">
              <img class="img" src="{{produto.foto}}" alt="imagem do produto">
              <div class="img-info">
                <div class="info-inner">
                  <span class="p-name">{{produto.nome}}</span>
                </div>
              </div>
            </div>

            <div class="box-down">
              <div class="h-bg">
                <div class="h-bg-inner"></div>
              </div>

              <a class="cart" [routerLink]="['/item-produto', produto.id]">
                <span class="price">R{{produto.valor | currency}}</span>
                <span class="add-to-cart">
                  <span class="txt">Comprar</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
