 <div class="cards-grupo">
    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">
    
        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>
    
    </mat-card>

    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">
    
        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>
    
    </mat-card>

    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">
    
        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>
    
    </mat-card>

    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">
    
        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>
    
    </mat-card>

    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">
    
        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>
    
    </mat-card>
</div>