<main class="container">
    <div class="row my-4">
        <div class="col-12 text-center">
            <h1 class="h2">Lista de Usuários</h1>
        </div>
    </div>

    <!-- Tabela para lista de usuários -->
    <div class="row mb-4 text-center">
        <div class="col-12 text-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of listaUsuarios">
                        <td scope="row">{{ usuario.id }}</td>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.senha }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-info col-5 mr-1">Editar</button>
                            <button type="button" class="btn btn-outline-danger col-5 ml-1">Apagar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
