<main class="container bg-site">
  <div class="row my-4">
    <div class="col-12 text-center">
      <h1 class="h2">Lista de Usuários</h1>
    </div>
  </div>
  <div *ngIf='alerta'>
    <div class="alert alert-success" role="alert">
      Usuario deletado!
    </div>
  </div>
  <!-- Tabela para lista de usuários -->
  <div class="row mb-4 text-center">
    <div class="col-12 text-center">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Ação</th>
              <th scope="col">Id</th>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">E-Mail</th>
              <th scope="col">Telefone</th>
              <th scope="col">Endereço</th>
              <th scope="col">CEP</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of listaUsuarios">
              <td class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-info col-lg-5 col-md-12 mr-1 ml-1"
                  [routerLink]="['/editar-usuario', usuario.id]">Editar</button>
                <button type="button" class="btn btn-outline-danger col-lg-5 col-md-12 ml-1 mr-3"
                  [routerLink]="['/deletar-usuario', usuario.id]">Apagar</button>
              </td>
              <td scope="row">{{ usuario.id }}</td>
              <td>{{ usuario.nome }}</td>
              <td>{{ usuario.cpf }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.telefone }}</td>
              <td>{{ usuario.endereco }}</td>
              <td>{{ usuario.cep }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
