<main class="container">
    <div class="row my-4">
        <div class="col-12 text-center">
            <h1 class="h2">Lista de Usuários</h1>
        </div>
    </div>

    <!-- Tabela para lista de usuários -->
    <div class="row mb-4 text-center">
        <div class="col-12 text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Senha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">--ID--</th>
                        <td>--NOME--</td>
                        <td>--EMAIL--</td>
                        <td>--SENHA--</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- BACKUP CASO TABELA NÃO FUNCIONE -->
    <div class="row text-center">
        <div class="col-3">Id</div>
        <div class="col-3">Nome</div>
        <div class="col-3">E-mail</div>
        <div class="col-3">Senha</div>
    </div>
    <div>
        <div class="row text-center">
            <div class="col-3">ID</div>
            <div class="col-3">NOME</div>
            <div class="col-3">EMAIL</div>
            <div class="col-3">SENHA</div>
        </div>
    </div>
</main>
