<div class="grid second-nav">
    <nav>
        <ol class="breadcrumb-list ml-3">
            <li class="breadcrumb-item" routerLink="/home">Home</li>
            <li class="breadcrumb-item" routerLink='/produtos'>produtos</li>
            <li class="breadcrumb-item active">nome_id</li>
        </ol>
    </nav>
</div>

<main class="main text-center mt-5">

    <div class="container">

        <div class="col-md-12 d-flex text-justify-content-center">

            <div class="row">
                <div class="col-6">

                    <div class="grid product">

                        <div class="product-gallery">
                            <div class="imagem-produto d-flex justify-content-center">
                                <img class="image-item"><img src="https://i.imgur.com/N1oENlF.jpg">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-6">
                    <div class="column-xs-12 column-md-5">
                        <h1 class="text-left">nome</h1>
                        <div class="descricao">
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos,
                                ad quas beatae aliquid, unde magnam vero voluptatem laboriosam deserunt explicabo
                                inventore mollitia illum doloribus reprehenderit obcaecati adipisci. Laborum, harum
                                saepe?</p>
                            <h4 class="text-left">preco</h4>
                        </div>
                        <div class="card border-0">
                            <div class="card-body-input ">
                                <h5 class="d-inline"> tamanho </h5>

                                <div class="btn-group text-left ml-5" role="group" aria-label="Exemplo básico">
                                    <button type="button" class="btn btn-secondary btn btn-dark">12</button>
                                    <button type="button" class="btn btn-secondary btn btn-dark">14</button>
                                    <button type="button" class="btn btn-secondary btn btn-dark">16</button>
                                </div>


                                <!-- Botão para acionar modal -->
                                <div class="button-modal text-right d-inline ml-5">
                                    <button type="button-modal" class="btn" data-toggle="modal" data-target="#Modal">
                                        Tabelas de tamanhos
                                    </button>
                                </div>


                                <!-- Modal EDITAR -->
                                <div class="modal fade" id="Modal" tabindex="-1" role="dialog"
                                    aria-labelledby="ModalLabel" aria-hidden="true">



                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="TituloModalCentralizado">Título do modal
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Fechar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>

                                    </div>
                                </div>

                                <!-- input incremento/decremento -->
                                <!-- <div class="form-group card-input text-left">
                                <input type="number" id = "quantidade" name="quantidade" min="1" max="10" class="form-control align-center">
                                <label for = "quantidade"></label>
                            </div> -->

                                <div class="card-body">
                                    <p class="card-text"> Quantidade em estoque:</p>
                                </div>

                                <button type="button"
                                    class="btn btn-outline-primary btn-lg btn-block mt-5" target="_blank">Comprar</button>
                            </div>

                        </div>
                    </div>