.corpo {
  background-color: #4E57AA;
}
 
.corpo,
.corpo2 {
  border-radius: 5px;
}

.main {
  padding: 0 0 40px 0;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  line-height: 2;
  text-align: center;
  color: #FFF;
}

h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background: #00BFA6;
  margin: 8px auto;
}

img {
  max-width: 80%;
  height: 500px;
  object-fit: cover;
}

.imagem-produto {
  margin: 0;
  border: 0;
  padding: 20px;
}

.imagem-produto {
  width: 340px;
  height: 480px;
}

.card-img {
  position: absolute;
  transform: translate(-50%, -50%);
}

.card-front{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}

.card-front{
  height: 100%;
}

.card-front {
  transform: perspective(600px) rotateY(0deg);
}

.card-back {
  transform: perspective(600px) rotateY(180deg);
}

.card-img img {
  max-width: 100%;
}

.card-body {
  padding: 30px 60px 60px;
  height: 500px;

  @media (max-width: 422px) {
    padding: 35px 24px;
  }
}

.description-product {
  max-width: 626px;
  padding: 0.1rem 0 0 0;
}

.price {
  font-weight: bold;
  font-size: larger;
}


.modal-btn {
  display: block;
  width: 75%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.52);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 13px;
  // margin: 1rem 0;
  cursor: pointer;
  transition: .5s;

  &:hover {
    background-color: transparent;
    color: #FFF;
    background-color: #00BFA6;
    transition: 0.5s;
  }
}

.comprar-btn,
.deletar-btn {
  display: block;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #00BFA6;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;
  font-family: 'Poppins', sans-serif;
  transition: .5s;
  margin-left: 30px;
  font-size: 14px;
}

.comprar-btn:hover {
  background-color: darken(#00bfa6, 5%);
  transition: 0.5s;
}

.deletar-btn {
  background-color: rgba(127, 255, 212, 0);
  border: 2px solid #656FC4;
  color: #FFF;
  transition: .5s;
}

.deletar-btn:hover {
  background-color: #656FC4;
  color: #FFF;
  transition: .5s;
}

p {
  font-family: "Popins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
