*{
    box-sizing: border-box;
}

.body{
  background-image: linear-gradient(-225deg, rgba(58, 185, 183, 0.096) 0%, #C5C1FF 56%, rgba(255, 186, 195, 0.096) 100%);

}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  padding: 10px 0 0 0;
}

.breadcrumb-list  li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.breadcrumb-item .active {
    color: black;
}

.breadcrumb-item ::before {
      display: inline-block;
      padding: 0 0.5rem;
      color: lightergray;
}

.main{
    padding:0 0 40px 0;
}

h1, p {
    color: gray;
    text-transform: uppercase;
  }
  
img {
    max-width: 80%;
    height: 500px;
    object-fit: cover;
}

.imagem-produto {
  margin: 0;
  border: 0;
}

.card-img img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.9s;
  opacity:6;
}

.descricao {
    border-top: 0.0625rem solid gray;
    padding: 0.10rem 0 0 0;
  }
  
  .container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 75rem;
    width: 100%;
  }

.comprar-btn{
  padding: 13px 20px 12px;
  background-color: #E4C5FE;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 10px;
  transition: 0.5s;
  text-transform: uppercase;
   & :hover {
      border: 1px solid #E4C5FE;
      background-color: transparent;
      color: #E4C5FE;
      transition: 0.5s;
  }
}

@media (min-width: 1.7rem) {
  .product-image img, .image-list img {
    width: 100%;
  }

  .product-image {
    display: block;
    img {
      height: 52vh;
      &.active {
        display: block;
        margin: 0 0 0.75rem 0;
      }
    }
  }
  
  .image-list {
    display: flex;
    overflow: hidden;
    li {
      margin: 0 0.75rem 0 0;
      flex-basis: 100%;
      &:nth-child(3) {
        margin: 0;
      }
    }
    img {
      height: 10rem;
      width: 100%;
      transition: opacity 0.3s ease;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  nav ul {
    justify-content: flex-end;
  }

  .toggle-nav {
    display: none;
  }

  .flex-nav {
    display: block;
    ul {
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: flex-end;
      li {
        font-size: 1.125rem;
        margin: 0 1.5rem 0 0;
        &:nth-child(4) {
          margin: 0;
        }
      }
    }
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


 