<div class="corpo">
  <img class="wave" src="../../assets/wave2.png">
  <div class="container">
    <div class="img">
      <img src="../../assets/baby.svg">
    </div>
    <div class="login-content">
      <form action="index.html">
        <img src="../../assets/man.svg">
        <h2 class="title">Bem Vindo</h2>
        <div class="input-div one">
          <div class="i">
            <i class="fas fa-user"></i>
          </div>
          <div class="div">
            <h5>Email</h5>
            <input type="text" name="email" class="input" [(ngModel)]="usuarioLogin.email" autofocus required email
              #emailLogin="ngModel">
          </div>
        </div>
        <span class="help-block" *ngIf="erro==true && emailLogin.errors && (emailLogin.dirty || emailLogin.touched)"
          class="tem-erro">
          <ul>
            <li *ngIf="emailLogin.errors.required">Informe o email</li>
            <li *ngIf="emailLogin.errors.email">Email inválido</li>
          </ul>
        </span>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <h5>Senha</h5>
            <input type="password" name="senha" class="input" [(ngModel)]="usuarioLogin.senha" required
              #senhaLogin="ngModel">
          </div>
        </div>
        <span class="help-block" *ngIf="erro==true && senhaLogin.errors && (senhaLogin.dirty || senhaLogin.touched)"
          class="tem-erro">
          <ul>
            <li *ngIf="senhaLogin.errors.required">Informe a senha</li>
          </ul>
        </span>
        <a href="#" data-toggle="modal" data-target="#modalSenha">Esqueceu sua senha?</a>
        <input type="submit" class="btn" value="Login" (click)="logar()">
        <a href="#" class="cadastro" routerLink="/cadastro">Clique aqui para se cadastrar</a>
      </form>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modalSenha" tabindex="-1" role="dialog" aria-labelledby="modalSenhaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-11 ml-3">
            <h5 class="modal-title" id="modalSenhaLabel">Esqueceu sua senha?</h5>
          </div>
          <div class="col-1">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <div class="input-div one">
            <div class="div">
              <h5>Informe email para recuperação de senha:</h5>
              <input type="email" name="email" class="input">
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <div class="col-6">
            <button type="button" class="btn" data-dismiss="modal" (click)="enviaNovaSenha()">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
