<div class="corpo">
	<img class="wave" src="../../assets/wave2.png">
	<div class="container">
		<div class="img">
			<img src="../../assets/baby.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="../../assets/man.svg">
				<h2 class="title">Bem Vindo</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input type="text" name="email" class="input" [(ngModel)]="usuarioLogin.email">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Senha</h5>
           		    	<input type="password" name="senha" class="input" [(ngModel)]="usuarioLogin.senha">
            	   </div>
            	</div>
            	<a href="#">Esqueceu sua senha?</a>
              <input type="submit" class="btn" value="Login" (click)="logar()">
              <a href="#" class="cadastro" routerLink="/cadastro">Clique aqui para se cadastrar</a>
            </form>
        </div>
    </div>
</div>
