

input{
    width: 100%;
}

.botao-formulario{
    width: 50%;
    text-align: center;
    align-items: flex-end;


}

.modal-content{
    padding: 20px;
}
.titulo{
    font-size: 2.8rem;
    font-weight: 150;
    line-height: 0.8;
    text-align: center;
}
