<main class="container">
    <div class="row my-4">
        <div class="col-12 text-center">
            <h1 class="h2">Editar Usuário</h1>
        </div>
    </div>

    <!-- Tabela para lista de usuários -->
    <div class="row mb-4 text-center">
        <div class="col-12 text-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Confirmar Edição?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ usuario.id }} </td>
                        <td><input type="text" [(ngModel)]="usuario.nome"></td>
                        <td><input type="text" [(ngModel)]= "usuario.email"></td>
                        <td><input type="text" [(ngModel)]= "usuario.senha"></td> 
                        <td>
                            <button type="button" class="btn btn-outline-success col-5 mr-1" (click)="salvar()">Sim</button>
                            <button type="button" class="btn btn-outline-danger col-5 ml-1" routerLink="/lista-de-usuarios">Não</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

