<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron mt-5">
        <h2 class="h1 text-center mb-5 display">Política de Privacidade</h2>
        <div class="row lead text-justify">
          <div class="col-lg-6">
            <h2 class="h4">Utilização das Informações</h2>
            <p>Ao realizar transações em nossa loja, como parte do processo de compra e venda, coletamos as informações
              pessoais a nós disponibilizadas, tais como: nome, data de nascimento, e-mail, endereço e CPF.</p>
            <!-- <p>Ao acessar nosso site, também recebemos automaticamente o protocolo de internet do seu computador, endereço de IP, a fim de obter informações que nos ajudam a aprender sobre seu navegador e sistema operacional.</p>
                        <p>E-mail Marketing será realizado apenas caso você permita. Nestes e-mails você poderá receber notícias sobre nossa loja, novos produtos e outras atualizações.</p> -->
            <h2 class="h4">Consentimento</h2>
            <p>Seu consentimento é obtido no momento de fornecimento de informações pessoais como nome, telefone e
              endereço.
              <!-- Para completar uma transação, deve-se verificar seu cartão de crédito, fazer um pedido. Após a realização de ações entendemos que você está de acordo com a coleta de dados para serem utilizados pela nossa empresa. -->
            </p>
            <p>Se pedimos por suas informações pessoais por uma razão secundária, como marketing, pediremos diretamente
              por seu consentimento, também fornecendo-lhe a possibilidade de recusa.</p>
            <p>Caso queira retirar seu consentimento, favor entrar em conosco através do e-mail contato@cristal.com ou
              de nosso formulário de contato. Pode-se também nos enviar uma correspondência para Rua Tito, 54, Vila
              Romana - São Paulo/SP</p>
            <h2 class="h4">Segurança</h2>
            <p>Para proteger suas informações pessoais, tomamos precauções e seguimos as melhores práticas da indústria
              para nos certificarmos que elas não serão perdidas, usurpadas, acessadas, divulgadas, alteradas ou
              destruídas.</p>
            <p>Ao nos fornecer suas informações de cartão de crédito, tais informações são criptografadas usando
              tecnologia "secure socket layer" (SSL) e armazenadas com uma criptografia AES-256. Embora nenhum método de
              transmissão pela Internet ou armazenamento eletrônico seja 100% seguro, nós seguimos todos os requisitos
              da PCI-DSS e implementamos padrões adicionais aceitos pela indústria.</p>
            <h2 class="h4">Divulgação</h2>
            <p>Suas informações pessoais serão divulgadas apenas em caso de sermos obrigados mediante a lei, ou em caso
              de violação de nossos Termos de Serviço, também junto às autoridades competentes.</p>
          </div>
          <div class="col-lg-6">
            <h2 class="h4">Serviços de Terceiros</h2>
            <p>Nossos fornecedores apenas irão coletar, utilizar e divulgar suas informações no que diz respeito à
              realização dos serviços a nós fornecidos</p>
            <p>Entretanto, certos fornecedores de serviços, tais como gateways e outros processadores de transação de
              pagamento, têm suas próprias políticas de privacidade com respeito à informação que somos obrigados a
              fornecer referentes às transações relacionadas às compras. Assim, recomendamos a leitura de suas políticas
              de privacidade para que você possa entender a maneira na qual suas informações pessoais serão por eles
              utilizadas.</p>
            <p>Certos fornecedores podem ser localizados ou possuir instalações em outras jurisdições e/ou unidades
              federativas. Assim, ao continuar com uma transação que envolva os serviços de tais fornecedores de
              serviços, suas informações podem tornar-se sujeitas às leis da(s) jurisdição(ões) nas quais o fornecedor
              de serviço ou suas instalações estão localizadas.</p>
            <p>Uma vez que você deixe o site da nossa loja ou seja redirecionado para um aplicativo ou site de
              terceiros, você não será mais regido por essa Política de Privacidade ou pelos Termos de Serviço do nosso
              site.</p>
            <p>Ao clicar em links de nossa loja, eles podem lhe direcionar para fora do nosso site. Não somos
              responsáveis pelas práticas de privacidade de outros sites e lhe incentivamos a ler as declarações de
              privacidade deles.</p>
            <h2 class="h4">Futuras Alterações</h2>
            <p>Reservamos o direito de modificar essa política de privacidade a qualquer momento, então favor revisá-la
              com frequência. Alterações e esclarecimentos surtirão efeito imediatamente após sua publicação no site. Ao
              haver alterações de materiais para essa política, iremos notificá-lo aqui sobre sua atualização, para que
              haja ciência sobre quais informações coletamos, como as usamos, e sob quais circunstâncias as usamos e/ou
              divulgamos.</p>
            <p>Caso nossa loja seja adquirida ou fundida a outra empresa, suas informações poderão ser transferidas para
              os novos proprietários para que possamos continuar a vender produtos para você.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> <!-- Final Jumbotron -->
