<div class="bg-full">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0 bg">
        <!-- Background + texto -->
      </div>
    </div>
  </div>

  <!-- <div class="container mt-3">
    <div class="row text-center d-flex justify-content-center">

      <div class="col-lg-3 col-md-6 text-center produto1 ">
        a
      </div>

      <div class="col-lg-3 col-md-6 text-center produto2">
        a
      </div>

      <div class="col-lg-3 col-md-6 text-center produto3">
        a
      </div>
    </div>
  </div> -->

  <!-- Cards -->
  <div class="cards-grupo">
    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">

        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>

    </mat-card>

    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">

        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>

    </mat-card>

    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">

        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>

    </mat-card>

    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">

        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>

    </mat-card>

    <mat-card class="cards mat-elevation-z3">
        <img src="../../assets/card-eduardo.jpg">

        <mat-card-subtitle class="subtitle">
            cristal
        </mat-card-subtitle>

