<div class="introducao">
  <div class="container">
    <h1>Amor aos detalhes</h1>
    <blockquote class="quote-externo">
      <p>“A delicadeza é a flor da humanidade.”</p>
      <cite>JOSEPH JOUBERT</cite>
    </blockquote>
    <a href="#" routerLink="/cadastro" class="btn">Cadastre-se</a>
  </div>
</div>
<!-- Produtos -->
<div class="produtos container">
  <h2 class="subtitulo">Produtos</h2>
  <div class="produtos-img">
    <div class="card">
      <a href="#" routerLink="/produtos"><img src="../../assets/card.png"></a>
      <div class="card-content">
        <a href="#" routerLink="/produtos">
          <p class="card-category">Conjuntos<i class="fas fa-arrow-alt-circle-right fa-sm"></i></p>
        </a>
      </div>
    </div>

    <div class="card">
      <a href="#" routerLink="/produtos"><img src="../../assets/card2.png"></a>
      <div class="card-content">
        <a href="#" routerLink="/produtos">
          <p class="card-category">Macacões<i class="fas fa-arrow-alt-circle-right fa-sm"></i>
          </p>
        </a>
      </div>
    </div>

    <div class="card">
      <a href="#" routerLink="/produtos"><img src="../../assets/card3.png"></a>
      <div class="card-content">
        <a href="#" routerLink="/produtos">
          <p class="card-category">Vestidos<i class="fas fa-arrow-alt-circle-right fa-sm"></i></p>
        </a>
      </div>
    </div>

    <div class="call">
      <p>veja os detalhes dos nossos produtos</p>
      <a href="#" routerLink="/produtos" class="btn btn-purple">Produtos</a>
    </div>
  </div>
</div>
<!-- Conheça -->
<div class="conheca">
  <img src="../../assets/bg2.png" alt="#" class="p-0 m-0">
  <div class="container">
    <h2 class="subtitulo sub2">Conheça</h2>
    <div class="row">
      <div class="col-sm-12 col-md-6 text-left texto-video">
        <h1 class="pt-5">
          A <strong>Cristal</strong> tem como intuito proporcionar <strong> conforto</strong> e
          <strong>segurança</strong> para as crianças com osteogênese imperfeita.
        </h1>
        <p class="pt-2">A Cristal foi inspirada no trabalho de conclusão de curso da modelista Beatriz dos Santos
          Chinello, a qual observou o déficit da indústria da moda no que diz respeito à acessibilidade. Confira alguns
          dos princípios que direcionaram esta abordagem, bem como a confecção das peças.</p>
      </div>

      <div class="col-sm-12 col-md-6 pt-4">
        <div class="video">

          <iframe width="100%" height="315" src="https://www.youtube.com/embed/li4qvcdaHT0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="call">
      <p class="call-white">conheça melhor a nossa equipe</p>
      <a href="#" routerLink="/sobre-nos" class="btn btn-purple">Equipe</a>
    </div>
  </div>
</div>
<!-- Qualidade -->
<div class="qualidade">
  <div class="container">
    <h2 class="subtitulo sub3">Qualidade</h2>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-child mb-4"></i>
          <h3 class="h4 mb-2">Para todas crianças</h3>
          <p class="mb-0">As roupas da Cristal são feitas para todas as crianças!</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-gem mb-4"></i>
          <h3 class="h4 mb-2">Único</h3>
          <p class="mb-0">Nossas roupas são únicas, como nossas crianças.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-feather-alt mb-4"></i>
          <h3 class="h4 mb-2">Delicado</h3>
          <p class="mb-0">Roupas leves e confortáveis, podendo ser usadas em qualquer lugar.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-heart mb-4"></i>
          <h3 class="h4 mb-2">Feito com Amor</h3>
          <p class="mb-0">Criamos nossas roupas com amor e carinho.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quebra">
  <blockquote class="quote-externo container">
    <p>“Nada é tão forte quanto a delicadeza, e nada é tão delicado como a força verdadeira”</p>
    <cite>Ralph Washington Sockman</cite>
  </blockquote>
</div>
