<div class="introducao">
  <div class="container">
      <h1>Ou tudo ou moda!</h1>
      <blockquote class="quote-externo">
          <p>“Nada é tão forte quanto a delicadeza, e nada é tão delicado como a força verdadeira”</p>
          <cite>Ralph Washington Sockman</cite>
        </blockquote>
        <a href="#" routerLink="/cadastro" class="btn">Cadastre-se</a>
    </div>
  </div>

                    <!-- Produtos -->

  <div class="produtos container">
    <h2 class="subtitulo">Produtos</h2>
      <div class="produtos-img">
        <div class="card">
            <a href="#" routerLink="/produtos"><img src="../../assets/card.png"></a>
              <div class="card-content">
                <a href="#" routerLink="/produtos">
                  <p class="card-category">Conjuntos<i class="fas fa-chevron-right fa-sm"></i>
                  </p>
               </a>
        </div>
      </div>

        <div class="card">
            <a href="#" routerLink="/produtos"><img src="../../assets/card2.png"></a>
              <div div class="card-content">
                <a href="#" routerLink="/produtos">
                <p class="card-category">Macacões<i class="fas fa-chevron-right fa-sm"></i>
                </p></a>
              </div>
        </div>

        <div class="card">
          <a href="#" routerLink="/produtos"><img src="../../assets/card3.png"></a>
            <div class="card-content">
              <a href="#" routerLink="/produtos">
                <p class="card-category">Vestidos<i class="fas fa-chevron-right fa-sm"></i></p>
              </a>
            </div>
        </div>

        <div class="call">
          <p>clique aqui e veja os detalhes dos produtos</p>
          <a href="produtos.html" class="btn">Produtos</a>
        </div>

    </div>
</div>
