a {
  text-decoration: none;
}

p {
  font-family: "Popins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  line-break: normal;
  color: #FFF;
}

strong {
  color: #8d85fd;
}

.btn {
  margin: 0 auto;
  width: 120px;
  padding: 0px auto;
  border-radius: 6px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #4E57AA, #00BFA6, #4E57AA);
  background-size: 200%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s;
  font-size: 13px;
  font-weight: 450;
}

.btn:hover {
  background-position: right;
}

.introducao {
  width: 100%;
  height: 540px;
  background: url("https://images.pexels.com/photos/1381679/pexels-photo-1381679.jpeg?cs=srgb&dl=atraente-aumento-bonito-buque-1381679.jpg&fm=jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
}

.introducao h1 {
  font-size: 48px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.quote-externo {
  max-width: 280px;
  line-height: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #FFF;
}

.quote-externo p {
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote-externo p:before,
.quote-externo p:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #FFF;
  margin: 10px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.produtos,
.qualidade {
  padding: 10px 60px 10px;
}

.subtitulo {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #4e57aa;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #00BFA6;
  margin: 8px auto;
}

.produtos-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: all .2s linear;
}

.card a img {
  width: 100%;
  transition: all .2s linear;
}

.card-content {
  position: absolute;
  bottom: 3rem;
  right: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #4e57aab2;
  transition: all .2s linear;
}

.card-category {
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 2px;
  margin: 15px;
  color: rgb(255, 255, 255);
  font-family: 'Popins', sans-serif;
}

.card-content a i {
  margin-left: 5px;
}

.card:hover {
  box-shadow: 0 0px 28px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.22)
}

.card:hover .card-content {
  right: 0;
}

.card:hover img {
  transform: scale(1.1);
}

.call {
  padding-top: 40px;
  text-align: center;
}

.call p {
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #6C63FF;
}

.btn-purple {
  background-image: linear-gradient(to right, #676fbb, #5B8FE3, #676fbb);
}

.conheca {
  background-image: linear-gradient(225deg, rgba(58, 185, 183, 0.427) 0%, #C5C1FF 56%, rgb(251, 191, 236) 100%);
  padding-bottom: 60px;
}

.conheca img {
  width: 100%;
}


.sub2 {
  color: #FFF;
}

.sub2:after {
  background: #7066ff;
}

.texto-video {
  color: #FFF;
  font-weight: 400 !important;
}

.conheca .call p {
  color: #FFF;
}

.btn-green {
  background-image: linear-gradient(to right, #00BFA6, #38d39f, #00BFA6);
}

.qualidade {
  background-image: linear-gradient(225deg, #58dada 0%, #c1cfff 56%, rgba(58, 176, 185, 0.493)100%);
}

.sub3::after {
  background-color: #00BFA6;
}

.qualidade i,
h3 {
  color: #FFF;
}

.qualidade i {
  color: #00BFA6;
}

.qualidade .subtitulo {
  color: #FFF;
}

.qualidade p {
  line-height: 20px;
  font-weight: lighter;
}

.quebra {
  width: 100%;
  height: 220px;
  background: url("../../assets/quartzo.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 55px;
}

.quebra .quote-externo {
  max-width: 400px;
}

iframe {
  border-radius: 5px;
  max-width: 100%;
}
