* {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  color: #ffffff;
}

.navbar-bg {
  background-image: linear-gradient(-225deg, rgba(58, 185, 183, 0.427) 0%, #C5C1FF 56%, rgb(255, 186, 195) 100%);
}

.menu ul li a:hover {
  color: #ffffff;
  transition: 0.5s;
}

.botao .btn {
  padding: 5px;
  width: 100px;
  cursor: pointer;
  background-size: 250%;
  transition: 0.6s;
  background-color: #f1a9e5;
  background-image: linear-gradient(to left #348AC7, #ffffff, #348AC7);
}

.botao .btn:hover {
  color: white;
  background-position: right;
  background: lightskyblue;
  box-shadow: 0 0 5px  lightskyblue;
  box-shadow: 0 0 12px   lightskyblue;
}

.navbar-toggler{
  color: rgb(149, 149, 149);
}

.nav-link {
  border-bottom: rgba(255, 255, 255, 0) solid 2px;
  margin-left: 5%;
  background: rgba(201, 204, 211, 0);
  text-align: center;
  transition: 0.3s;
}

.nav-item a:hover {
  border-bottom: rgb(255, 255, 255) solid 2px;
  border-radius: 5px;
  background-color: #f1a9e5a0;
  transition: all 0.3s;
}

.ent{
  display: none;
}

@media (max-width: 767px){
  .botao{
      display: none;
  }

  .ent {
      display: inherit;
  }

}
