<div class="navbar-bg black fixed-top">

  <a class="logo" routerLink="/home"><img src="../../assets/cristal.svg" alt="logo"></a>
  <nav>
    <ul class="nav__links">
      <li><a href="#" routerLink="/home">Home</a></li>
      <li><a href="#" routerLink="/produtos">Produtos</a></li>
      <li><a href="#" routerLink="/contato">Contato</a></li>
      <li><a href="#" routerLink="/sobre-nos">Equipe</a></li>
    </ul>
  </nav>
  <div class="dropdown">
    <a class="cta btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span *ngIf='auth.btnLogin()'>Entrar</span>
      <span *ngIf='auth.btnSair()'>
        <i class="fas fa-user-circle"></i>
        {{auth.buscaNomeUsuario()}}
      </span>
    </a>
    <p class="menu cta btn">Menu</p>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <div *ngIf='auth.btnLogin()'>
        <a class="dropdown-item" routerLink="/login">Login</a>
      </div>
      <div *ngIf='auth.btnLogin()'>
        <a class="dropdown-item" routerLink="/cadastro">Cadastrar</a>
      </div>
      <div *ngIf='auth.btnSair()'>
        <a class="dropdown-item" [routerLink]="['/editar-usuario', auth.buscaIdUsuario()]">Editar perfil</a>
      </div>
      <div *ngIf='auth.btnSair() && !auth.ehUsuarioAdmin()'>
        <a class="dropdown-item" routerLink="/carrinho">Carrinho</a>
      </div>
      <div *ngIf='auth.ehUsuarioAdmin()'>
        <a class="dropdown-item" routerLink="/criar-item-produto">Criar Produto</a>
      </div>
      <div *ngIf='auth.btnSair()'>
        <a class="dropdown-item" href="#" (click)='sair()'>Sair</a>
      </div>
    </div>
  </div>
</div>

<div class="overlay">
  <a class="close">&times;</a>
  <div class="overlay__content">
    <a href="#" class="fechar" routerLink="/home">Home</a>
    <a href="#" class="fechar" routerLink="/produtos">Produtos</a>
    <a href="#" class="fechar" routerLink="/contato">Contato</a>
    <a href="#" class="fechar" routerLink="/sobre-nos">Equipe</a>
    <div *ngIf='auth.btnLogin()'>
      <a href="#" class="fechar" routerLink="/login">Login</a>
    </div>
    <div *ngIf='auth.btnLogin()'>
      <a href="#" class="fechar" routerLink="/cadastro">Cadastro</a>
    </div>
    <div *ngIf='auth.btnSair() && !auth.ehUsuarioAdmin()'>
      <a href="#" class="fechar" routerLink="/carrinho">Editar perfil</a>
    </div>
    <div *ngIf='auth.btnSair()'>
      <a href="#" class="fechar" [routerLink]="['/editar-usuario', auth.buscaIdUsuario()]">Editar perfil</a>
    </div>
    <div *ngIf='auth.ehUsuarioAdmin()'>
      <a href="#" class="fechar" routerLink="/criar-item-produto">Criar Produto</a>
    </div>
    <div *ngIf='auth.btnSair()'>
      <a href="#" class="fechar" (click)='sair()'>Sair</a>
    </div>
  </div>
</div>
