<!-- <body class="background">
  <header class="itens">
    <a href="#" class="logo">Logo</a>

    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Produtos</a></li>
      <li><a href="#">Sobre nós</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#">Faq</a></li>
    </ul>


  </header>

  <section class="banner" ></section>

  <script type="text/javascript">
    window.addEventListener("scroll"), function(){
      var header = document.querySelector("header");
      header.classList.toggle("sticky", window.scrollY > 0);
    }
  </script>
</body> -->


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<header>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="container">
            <nav>
                <div class="brand"><a href="index.html">Cr<span>is</span>tal</a></div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
</header>
