:root {
  padding: 2px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.809);
}

.navbar-area {
  padding: 0 10px !important;
  min-height: 60px;
}

.navbar-bg {
  background-image: linear-gradient(-225deg, #7AC9D7, rgb(251, 191, 236) 100%);

}

.logo {
  width: 50%;
  height: 50%;
}

.navbar-brand {
  width: 11%;
  height: 50%;
}

.menu ul li a:hover {
  color: #fff;
  transition: 0.5s;
}

.dropdown-item {
  color: #FFF;
  font-size: 0.9rem;
  transition: .3s;
  border-radius: 5px;
  border: none;
}

.dropdown-item:hover {
  background-color: #7e7eb4;
  color: #FFF;
}

.dropdown-menu {
  background-color: #f4c0eb;
  border: none;
}

.botao .btn {
  padding: 5px;
  width: 100px;
  height: 30px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #AB99CC, #83CEE8, #348AC7);
  background-size: 200%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s;
  font-size: 13px;
}

.botao .btn:hover {
  background-position: right;
}

.navbar-toggler {
  color: rgb(149, 149, 149);
}

.nav-link {
  border-bottom: rgba(255, 255, 255, 0) solid 1.5px;
  margin-left: 5%;
  background: rgba(201, 204, 211, 0);
  text-align: center;
  transition: 0.5s;
  color: white;
}

.nav-item a:hover {
  border-bottom: rgb(255, 255, 255) solid 1.5px;
  border-radius: 5px;
  transition: 0.5s;
}

.ent {
  display: none;
}

@media (max-width: 767px) {
  .logo {
    min-width: 100%;
  }

  .botao {
    display: none;
  }

  .ent {
    display: inherit;
  }


}
