<nav class="navbar navbar-bg navbar-expand-md">
  <div class="container">
    <!-- logo -->
    <a routerLink="/home" class="navbar-brand">
      <img src="../../assets/Cristal-Logo-typo.svg" class="logo" alt="Cristal" />
    </a>

    <!-- Botão de responsividade -->
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Abrir Navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/home">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/produtos">
            Produtos
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contato">
            Contato
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/sobre-nos">
            Equipe
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link ent" href="#" routerLink="/">
            Entrar
          </a>
        </li>

      </ul>

      <!-- Botão Entrar -->
      <li class="navbar navbar-expand-sm botao">
            <a class="nav-link" data-toggle="modal" data-target="#modalLogin" routerLink="/login">
          <button class="btn">Entrar</button></a>
      </li>
    </div>
  </div>
</nav>

