<main class="container">
  <div class="row my-4">
    <div class="col-12 text-center">
      <h1 class="h2">Deletar Usuário</h1>
    </div>
  </div>

  <div class="row mb-4 d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-header lead">
          ID {{ usuario.id }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item lead">Nome: {{ usuario.nome }} </li>
          <li class="list-group-item lead">E-mail: {{ usuario.email }} </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row mb-4 d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="text-center">
        <p class="lead">Deseja excluir registro de usuário?</p>
        <button type="button" class="btn btn-outline-success col-5 mr-1" (click)="btnSim()">Sim</button>
        <button type="button" class="btn btn-outline-danger col-5 ml-1" (click)="btnNao()">Não</button>
      </div>
    </div>
  </div>
</main>
