.container {
  margin-top: 76.7px;
}

span {
    font-size: 1.3em;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #7395ae;
}
.card-header {
    background-color: #deeaf8;
}

.card-header button{
    background-color: #deeaf8;
}

