<div class="container">
  
  <div class="row">
    <div class="col-12 mt-5 text-center">
      <h1 class="display-4 mb-3 text-center">
        FAQ - Dúvidas Frequentes    
      </h1>
    </div>
  </div>
  
  <main class="accordion mt-5" id="accordionExample">
    
    <div class="card">
      <div class="card-header btn" id="headingOne"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h2 class="mb-0 text-left">
          <button class="btn collapsed" type="button">
            O que é osteogênese imperfeita?
          </button>
        </h2>
      </div>
      
      <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Um grupo de doenças hereditárias caracterizadas por ossos frágeis que se quebram com facilidade. A osteogênese imperfeita tem sua origem dentro gene que afetam o modo como o corpo produz colágeno, uma proteína que ajuda a fortalecer os ossos. A condição pode ser leve, com apenas algumas fraturas durante a vida da pessoa afetada. Em casos mais graves, pode envolver centenas de fraturas que ocorrem sem causa aparente.
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header btn" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h2 class="mb-0 text-left">
          <button class="btn collapsed" type="button">
            Qual o objetivo do nosso site?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Baseado no Trabalho de Conclusão de curso da Design Beatriz dos Santos Chinello. O “tudo ou nada - moda inclusiva” visa abordar o maior número de crianças que possuem a doença Osteogênese Imperfeita, também conhecida como "síndrome dos ossos de vidro" que torna atividades simples como vestir uma peça de roupa, pode causar fraturas. Baseado nessa realidade este e-commerce traz a disponibilidade de fazer compras que comportam suas limitações físicas e tudo isso sem sair de casa!
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header btn" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h2 class="mb-0 text-left">
          <button class="btn collapsed" type="button">
            Qual o nosso diferencial?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Nossos tecidos são de 100% algodão com reforços nas área de fragilidade, além disso o tamanho se adequa, a proporção corporal do nosso cliente, já que nessa patologia é comum não termos um comprimento padrão para o vestuário.
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header btn" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
        <h2 class="mb-0 text-left">
          <button class="btn collapsed" type="button">
            Quais as formas de pagamento?
          </button>
        </h2>
      </div>
      
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          Aceitamos pagamento via Boleto Bancário, Cartão de Crédito e Paypal.
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header btn" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
        <h2 class="mb-0 text-left">
          <button class="btn collapsed" type="button">
            Temos alguma loja presencial?
          </button>
        </h2>
      </div>
      
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          Por enquanto trabalhamos somente a loja virtual, mas vc pode entrar em contato conosco clicando aqui, caso tenha alguma dúvida.
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header btn" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
        <h2 class="mb-0 text-left">
          <button class="btn collapsed" type="button">
            Esqueci minha senha, o que faço?
          </button>
        </h2>
      </div>
      
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          Clique em “Esqueci minha senha” > Informe seu e-mail (vamos encaminhar para você um e-mail com link para redefinir sua senha) > ao clicar no link enviado redefina sua senha de acordo as regras.
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header btn" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
        <h2 class="mb-0 text-left">
          <button class="btn collapsed" type="button">
            Como acompanho o meu pedido?
          </button>
        </h2>
      </div>
      
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">
          Após confirmarmos o pagamento, você receberá um e-mail, com o rastreio do seu produto. É só entrar no site informado no corpo do e-mail e acompanhar através do  código de rastreio.
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header btn" id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
        <h2 class="mb-0 text-left">
          <button class="btn collapsed" type="button">
            Caso o pedido não seja aprovado:
          </button>
        </h2>
      </div>
      
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body">
          Se o seu pedido foi feito em menos de 72 horas, fique calmo. O pagamento pode levar até 3 dias para cair. Se mesmo depois desse período seu pedido não foi aprovado entre em contato conosco clicando aqui.
        </div>
      </div>
    </div>
    
    
    
  </main>
  
  <div>
    <div class="row my-4">
      <div class="col-12 text-center lead">
        <span>Ainda com dúvidas?</span>
        <br>
        <span>Entre em <a routerLink='/contato'>contato</a>!</span>
      </div>
    </div>
  </div>
</div>