<div class="container p-3 mb-5 shadow-sm">
  <h1>
    FAQ - Dúvidas Frequentes
  </h1>
  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab">
          <input type="checkbox" id="chck1">
          <label class="tab-label" for="chck1"> O que é osteogênese imperfeita?</label>
          <div class="tab-content">
            <p>Um grupo de doenças hereditárias caracterizadas por ossos frágeis que se quebram com facilidade.
              <br>
              A osteogênese imperfeita tem sua origem dentro gene que afeta o modo como o corpo produz colágeno, uma
              proteína que ajuda a fortalecer os ossos. A condição pode ser leve, com apenas algumas fraturas durante a
              vida da pessoa afetada. Em casos mais graves, pode envolver centenas de fraturas que ocorrem sem causa
              aparente.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck2">
          <label class="tab-label" for="chck2"> Qual o objetivo do nosso site?</label>
          <div class="tab-content">
            <p>
              Baseado no Trabalho de Conclusão de curso da modelista Beatriz dos Santos Chinello. O “ou tudo, ou moda -
              moda
              inclusiva” visa abordar o maior número de crianças que possuem a doença de osteogênese imperfeita, também
              conhecida como "síndrome dos ossos de vidro" que torna atividades simples, como vestir uma peça de roupa,
              potenciais causas de fraturas. Baseado nessa realidade, este e-commerce traz a disponibilidade de fazer
              compras que
              comportam suas limitações físicas e tudo isso sem sair de casa!
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck3">
          <label class="tab-label" for="chck3">Qual o nosso diferencial?</label>
          <div class="tab-content">
            <p>
              Nossos tecidos são de 100% algodão com reforços nas áreas de fragilidade, além disso o tamanho se adequa,
              a
              proporção corporal do nosso cliente, já que nessa patologia é comum não termos um comprimento padrão para
              o vestuário.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck4">
          <label class="tab-label" for="chck4">Quais as formas de pagamento?</label>
          <div class="tab-content">
            <p>
              Aceitamos pagamento via Boleto Bancário.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck5">
          <label class="tab-label" for="chck5">Temos alguma loja presencial?</label>
          <div class="tab-content">
            <p>
              Por enquanto trabalhamos somente através da loja virtual, mas você pode entrar em contato conosco através
              de nossa página de contato,
              caso tenha alguma dúvida.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck6">
          <label class="tab-label" for="chck6">Esqueci minha senha, o que faço?</label>
          <div class="tab-content">
            <p>
              Clique em “Esqueci minha senha” > Informe seu e-mail (vamos encaminhar para você um e-mail com link para
              redefinir sua senha) > ao clicar no link enviado redefina sua senha de acordo as regras.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck7">
          <label class="tab-label" for="chck7"> Como acompanho o meu pedido?</label>
          <div class="tab-content">
            <p>
              Após confirmarmos o pagamento, você receberá um e-mail, com o rastreio do seu produto. É só entrar no site
              informado no corpo do e-mail e acompanhar através do código de rastreio.
            </p>
          </div>
        </div>

        <div class="tab">
          <input type="checkbox" id="chck8">
          <label class="tab-label" for="chck8">Caso o pedido não seja aprovado:</label>
          <div class="tab-content">
            <p>
              Se o seu pedido foi feito em menos de 72 horas, fique calmo. O pagamento pode levar até 3 dias para cair.
              Se mesmo depois desse período seu pedido não foi aprovado entre em contato conosco clicando <a class="" routerLink="/contato">aqui</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
