.container {
  margin-top: 100pxpx;
  padding: 40px;
  display: flex;
}

.form {
  position: relative;
  background: #4E57AA;
  border: none;
  width: 550px;
  padding: 40px 40px 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}

.form h1 {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

h1:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #00BFA6;
  margin: 8px auto;
  margin-bottom: 30px;
}

.form .input {
  margin-top: 40px;
  text-align: left;
}

.form .input .fom-group {
  margin-top: 10px;
}

.form .input .fom-group label {
  display: block;
  color: rgb(189, 189, 189);
  margin-bottom: 5px;
  font-size: 18px;
  letter-spacing: 1px;
}

.form .input .fom-group input {
  position: relative;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 5px 15px;
  background: #656FC4;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

.form .input .fom-group input::-webkit-input-placeholder {
  color: rgba(223, 223, 223, 0.657);
  font-family: "Popins", sans-serif;
  font-size: 16px;
  line-height: 20px;
  line-break: normal;
}

.btn-cadastrar {
  margin: 0 auto;
  width: 200px;
  padding: 0px auto;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: #00bfa6;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s;
  font-size: 16px;
  font-weight: 450;
}


.btn-cadastrar:hover {
  background-color: darken(#00bfa6, 5%);
  transition: 0.5s;
}
