.main {
  padding: 0 0 40px 0;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background: #00BFA6;
  margin: 8px auto;
}

img {
  max-width: 80%;
  height: 500px;
  object-fit: cover;
}

.imagem-produto {
  margin: 0;
  border: 0;
  padding: 20px;
}

.imagem-produto {
  width: 340px;
  height: 480px;
}

.card-img {
  position: absolute;
  transform: translate(-50%, -50%);
}

.card-front{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}

.card-front{
  height: 100%;
}

.card-front {
  transform: perspective(600px) rotateY(0deg);
}

.card-img img {
  max-width: 100%;
}

.card-body {
  padding: 30px 60px 60px;
  height: 500px;

  @media (max-width: 422px) {
    padding: 35px 24px;
  }
}

.description-product {
  max-width: 626px;
  padding: 0.1rem 0 0 0;
}

.price {
  font-weight: bold;
  font-size: larger;
}

.modal-btn {
  padding: 13px 20px 12px;
  background-color: #e4c5fe;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 10px;
  transition: 0.5s;
  text-transform: uppercase;

  &:hover {
    border: 1px solid #e4c5fe;
    background-color: transparent;
    color: #e4c5fe;
    transition: 0.5s;
  }
}

.deletar-btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #70ff63, #9fffa4, #63ff70);
  background-size: 200%;
  font-size: 1.1rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;

  &:hover {
    background-position: right;
  }

  &:active {
    outline: none !important;
  }
}

.nao-deletar-btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #ff6363, #ff9f9f, #ff6363);
  background-size: 200%;
  font-size: 1.1rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .5s;

  &:hover {
    background-position: right;
  }

  &:active {
    outline: none !important;
  }
}


