<div class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5">
          <div class="imagem-produto d-flex justify-content-center ">
            <div class="card-img card-front" style="width: 18rem;">
              <img class="image-responsive" src="{{produto.foto}}" alt="Imagem de capa do card">
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <div class="card-body mt-5">
            <h2 class="card-title text-center text-nowrap bd-highlight text-uppercase">
              Deseja apagar o produto?
            </h2>
            <div class="description-product">
              <div class="card-description text-left pt-4">
                <p class="card-subtitle price monospace">
                  {{produto.nome}}
                </p>
                <p class="card-subtitle price monospace">
                  R{{produto.valor | currency}}
                </p>
                <p class="card-text lead d-flex text-justify pt-1">
                  {{produto.descricao}}
                </p>
              </div>

              <div class="Input-delete text-center">
                <input name="deletar mr-3" class="btn deletar-btn mt-4 w-25 mr-3" type="button" value="Sim"
                  (click)="btnSim()">
                <input name="nao-deletar" class="btn nao-deletar-btn mt-4 w-25 ml-3" type="button" value="Não"
                  (click)="btnNao()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
