<div class="fundo">
  <div class="container p-3 my-5">
    <div class="row d-flex justify-content-center mx-3">

    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6 bg shadow-sm">
        <h2 class="text-center">Carrinho</h2>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Produto</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Valor Unitário</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="font-weight-bold destaque">1</td>
              <td>{{carrinho.nomeProduto}}</td>
              <td>
                <input type="number" name="qtd" id="qtd" min="1" (click)='calculaTotal()'
                  [(ngModel)]='carrinho.qtdProduto'>
              </td>
              <td>R{{carrinho.valorProduto | currency}}</td>
              <td>R{{carrinho.subtotal | currency}}</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td class="font-weight-bold destaque">Total</td>
              <td class="font-weight-bold">R{{carrinho.total | currency}}</td>
            </tr>
          </tbody>
        </table>
        <!-- <hr class="text-center"> -->
        <div class="row my-1 d-flex justify-content-center">
          <button class="btn" (click)="comprar()">Finalizar Compra</button>
        </div>
      </div>
    </div>
  </div>
</div>
