<div class="container">
  <section class="form-contato mr-4">
    <div class="row text-center">
      <div class="col-lg-6 col-sm-12 mx-auto">
        <div class="form-group formulario">
          <h5 class="titulo-form text-center mt-5 mb-3">Entre em contato conosco!</h5>

          <input name="nome" type="text" class="form-control" placeholder="Nome Completo" />
          <input name="email" type="text" class="form-control" placeholder="Email" />

          <input name="telefone" type="tel" class="form-control" placeholder="(xx) xxxxx-xxxx" />
          <input name="assunto" type="text" class="form-control" placeholder="Assunto" />

          <textarea name="text" class="form-control" placeholder="Comentário" rows="8"></textarea>

          <button class="btn btn-outline-info mt-2 mr-4 input">Enviar</button>

          <button class="btn btn-outline-danger mt-2 ml-4 input">Cancelar</button>

        </div>
      </div>
    </div>
  </section>
</div>
