.container {
  margin-top: 76.7px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-body {
  background-color: #E1D8FE;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border-color: #6b63ff93;
}

textarea {
  resize: none;
  height: 100px;
}

.brand-wrapper {
  margin-bottom: 19px;

  .logo {
    height: 100px;
    display: flex;
  }
}

.form-group ul li {
  list-style: none;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.form-group ul {
  padding: 0;
}

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden;
  min-height: 31px;
  margin-bottom: 0;

  &-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-body {
    padding: 50px 60px 60px;
    height: 750px;

    @media (max-width: 422px) {
      padding: 35px 24px;
    }
  }

  &-description {
    font-size: 25px;
    color: #FFF;
    font-weight: bolder;
    font-family: "Poppins"sans-serif;
    margin-bottom: 23px;
  }

  .formulario {
    max-width: 326px;
  }

  .form-control {
    margin-bottom: 0;
    min-height: 45px;
    font-size: 13px;
    font-weight: normal;

    &::placeholder {
      color: #919aa3;
    }
  }

  .btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #6C63FF, #bc9fff, #6C63FF);
    background-size: 200%;
    font-size: 1.1rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;

    &:hover {
      background-position: right;
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0;
    }

    &:active {
      outline: none !important;
    }
  }

  &-footer-text {
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px;

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  &-footer-nav {
    a {
      font-size: 14px;
      color: #919aa3;
    }
  }
}

.tem-erro input {
  border-color: #f88484;
}

.tem-erro ul {
  color: rgb(255, 81, 81);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.sem-erro input {
  border-color: green;
}

.sem-erro ul {
  color: green;
  margin: 0;
}
