
<!-- Modal -->
<div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title titulo" id="modalCadastro">Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="/home">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <!-- Nome -->
                <div class="form-group">
                    <label for="nome" class="lead">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite aqui seu nome completo" [(ngModel)]="usuario.nome">
                </div>
                
                <!-- E-mail -->
                <div class="form-group">
                    <label for="email" class="lead">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Ex: carla@gmail.com" [(ngModel)]="usuario.email">
                </div>
                
                <!-- Senha -->
                <div class="form-group" [ngClass]="{'tem-erro': erroSenha==true && usuario.senha!=confirmacao.senha}" [ngClass]="{'sem-erro': erroSenha==true && usuario.senha==confirmacao.senha}">
                    <label for="senha" class="lead">Senha:</label>
                    <input type="password" name="senha" id="senha" class="form-control" [(ngModel)]="usuario.senha">
                </div>
                
                <!-- Confirmar senha -->
                <div class="form-group" [ngClass]="{'tem-erro': erroSenha==true && usuario.senha!=confirmacao.senha}" [ngClass]="{'sem-erro': erroSenha==true && usuario.senha==confirmacao.senha}">
                    <label for="confirmaSenha" class="lead">Confirme sua senha: </label>
                    <input type="password" name="confirmaSenha" id="confirmaSenha" class="form-control"  [(ngModel)]="confirmacao.senha">
                    <span class="help-block" *ngIf="erroSenha==true">
                        <ul>
                            <li *ngIf="usuario.senha!=confirmacao.senha">Senhas informadas não correspondem!</li>
                            <li *ngIf="usuario.senha==confirmacao.senha">Senhas correspondem</li>
                        </ul>
                    </span>
                </div>
                <!-- </div> -->
                
                
                
                <!-- botoes -->
                <div class="form-group mt-3">
                    <button type="button" class="btn btn-secondary botao-formulario mt-2" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary botao-formulario mt-2 text-center" (click)="validar()">Cadastrar</button>
                </div>
                
                
                <div class="modal-footer">
                    Já tem cadastro? <a data-toggle="modal" data-target="#modalLogin" routerLink="/login">Clique aqui</a>
                </div>
            </div>
        </div>
    </div>