
<!-- Modal -->
<div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title titulo" id="modalCadastro">Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" routerLink="/home">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <!-- Nome -->
                <div class="form-group">
                    <label for="nome" class="lead">Nome:</label>
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Digite aqui seu nome completo" [(ngModel)]="usuario.nome" #nome="ngModel" minlength="3" maxlength="80" required>
                    <span class="help-block" *ngIf="erroCadastro">
                        <ul>
                            <li *ngIf="nome.errors.required">Preenchimento obrigatório.</li>
                            <li *ngIf="!nome.errors.required && nome.errors.minlength">Mínimo de 3 caracteres.</li>
                        </ul>
                    </span>
                </div>
                
                <div class="form-row">
                    <!-- CPF -->
                    <div class="form-group col-md-12 col-lg-6">
                        <label for="cpf" class="lead">CPF:</label>
                        <input type="text" name="cpf" id="cpf" class="form-control" placeholder="Digite aqui seu CPF" [(ngModel)]="usuario.cpf" #cpf="ngModel" minlength="11" maxlength="11" required>
                        <span class="help-block" *ngIf="erroCadastro">
                            <ul>
                                <li *ngIf="cpf.errors.required">Preenchimento obrigatório.</li>
                                <li>Insira um CPF válido.</li>
                            </ul>
                        </span>
                    </div>
                    <!-- Telefone -->
                    <div class="form-group col-md-12 col-lg-6">
                        <label for="telefone" class="lead">Telefone:</label>
                        <input type="tel" name="telefone" id="telefone" class="form-control" placeholder="Digite aqui seu telefone" [(ngModel)]="usuario.telefone" #telefone="ngModel" minlength="10" maxlength="11">
                        <span class="help-block" *ngIf="erroCadastro">
                            <ul>
                                <li>Telefone inválido.</li>
                                <li>Informar DDD + número.</li>
                            </ul>
                        </span>
                    </div>
                </div>
                
                <!-- Endereço -->
                <div class="form-row">
                    <div class="form-group col-md-12 col-lg-9">
                        <label for="logradouro" class="lead">Endereço:</label>
                        <input type="text" name="logradouro" id="logradouro" class="form-control" placeholder="Digite aqui seu endereço" [(ngModel)]="usuario.logradouro" #logradouro="ngModel" minlength="3" maxlength="150" required>
                        <span class="help-block" *ngIf="erroCadastro">
                            <ul>
                                <li *ngIf="logradouro.errors.required">Preenchimento obrigatório.</li>
                                <li *ngIf="!logradouro.errors.required && logradouro.errors.minlength">Mínimo de 3 caracteres.</li>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group col-md-12 col-lg-3">
                        <label for="numResidencia" class="lead">Número:</label>
                        <input type="text" name="numResidencia" id="numResidencia" class="form-control" placeholder="N°" [(ngModel)]="usuario.numResidencia" #numResidencia="ngModel" maxlength="10" required>
                        <span class="help-block" *ngIf="erroCadastro">
                            <ul>
                                <li *ngIf="numResidencia.errors.required">Preenchimento obrigatório.</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 col-lg-6">
                        <label for="estado" class="lead">Estado:</label>
                        <input type="text" name="estado" id="estado" class="form-control" placeholder="Digite aqui seu estado" [(ngModel)]="usuario.estado" #estado="ngModel" minlength="2" maxlength="20" required>
                        <span class="help-block" *ngIf="erroCadastro">
                            <ul>
                                <li *ngIf="estado.errors.required">Preenchimento obrigatório.</li>
                                <li *ngIf="!estado.errors.required && estado.errors.minlength">Mínimo de 2 caracteres.</li>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group col-md-12 col-lg-6">
                        <label for="cidade" class="lead">Cidade:</label>
                        <input type="text" name="cidade" id="cidade" class="form-control" placeholder="Digite aqui sua cidade" [(ngModel)]="usuario.cidade" #cidade="ngModel" minlength="2" maxlength="50" required>
                        <span class="help-block" *ngIf="erroCadastro">
                            <ul>
                                <li *ngIf="cidade.errors.required">Preenchimento obrigatório.</li>
                                <li *ngIf="!cidade.errors.required && cidade.errors.minlength">Mínimo de 2 caracteres.</li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 col-lg-6">
                        <label for="bairro" class="lead">Bairro:</label>
                        <input type="text" name="bairro" id="bairro" class="form-control" placeholder="Digite aqui seu bairro" [(ngModel)]="usuario.bairro" #bairro="ngModel" minlength="3" maxlength="50" required>
                        <span class="help-block" *ngIf="erroCadastro">
                            <ul>
                                <li *ngIf="bairro.errors.required">Preenchimento obrigatório.</li>
                                <li  *ngIf="!bairro.errors.required && bairro.errors.minlength">Mínimo de 3 caracteres.</li>
                            </ul>
                        </span>
                    </div>
                    <div class="form-group col-md-12 col-lg-6">
                        <label for="cep" class="lead">CEP:</label>
                        <input type="text" name="cep" id="cep" class="form-control" placeholder="Digite apenas números" [(ngModel)]="usuario.cep" #cep="ngModel" minlength="8" maxlength="8" required>
                        <span class="help-block" *ngIf="erroCadastro">
                            <ul>
                                <li *ngIf="cep.errors.required">Preenchimento obrigatório.</li>
                                <li>Insira um CEP válido.</li>
                            </ul>
                        </span>
                    </div>
                </div>
                
                <!-- E-mail -->
                <div class="form-group">
                    <label for="email" class="lead">E-mail:</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Ex: carla@gmail.com" [(ngModel)]="usuario.email" #email="ngModel" minlength="5" maxlength="120" required>
                    <span class="help-block" *ngIf="erroCadastro">
                        <ul>
                            <li *ngIf="email.errors.required">Preenchimento obrigatório.</li>
                            <li>Insira um endereço de e-mail válido.</li>
                        </ul>
                    </span>
                </div>
                
                <!-- Senha -->
                <div class="form-group">
                    <label for="senha" class="lead">Senha:</label>
                    <input type="password" name="senha" id="senha" class="form-control" [(ngModel)]="usuario.senha">
                </div>
                
                <!-- Confirmar senha -->
                <div class="form-group">
                    <label for="confirmaSenha" class="lead">Confirme sua senha: </label>
                    <input type="password" name="confirmaSenha" id="confirmaSenha" class="form-control"  [(ngModel)]="confirmacao.senha">
                    <span class="help-block" *ngIf="erroCadastro">
                        <ul>
                            <li *ngIf="usuario.senha!=confirmacao.senha && erroSenha==true">Senhas informadas não correspondem!</li>
                            <li *ngIf="usuario.senha==confirmacao.senha && erroSenha==true">Senhas correspondem</li>
                        </ul>
                    </span>
                </div>
                <!-- </div> -->
                
                
                
                <!-- botoes -->
                <div class="form-group mt-3 col-12 d-flex justify-content-around">
                    <button type="button" class="btn btn-primary botao-formulario mt-2 text-center col-5" (click)="validar()">Cadastrar</button>
                    <button type="button" class="btn btn-secondary botao-formulario mt-2 col-5" data-dismiss="modal">Cancelar</button>
                </div>
                
                
                <div class="modal-footer">
                    Já tem cadastro? <a data-toggle="modal" data-target="#modalLogin" routerLink="/login">Clique aqui</a>
                </div>
            </div>
        </div>
    </div>