 <!-- Site footer -->
 <footer class="site-footer">
   <div class="container">
     <div class="row">
       <div class="col-sm-12 col-md-6">
         <h6>Sobre nós</h6>
         <p class="text-justify">A Cristal originou-se devido ao déficit da indústria da moda no que diz respeito à
           inclusão de pessoas com limitação de movimentação e deficiência física.
           <br>
           Assim, a Cristal desenvolve e comercializa peças de vestuário para suprir tal déficit, focando em peças para
           crianças com osteogênese imperfeita, também conhecida como “síndrome dos ossos de vidro” ou “síndrome dos
           ossos de cristal”, visando o maior conforto das crianças, como também a maior proteção física de seus corpos.
         </p>
       </div>

       <div class="col-xs-6 col-md-3">
       </div>

       <div class="col-xs-6 col-md-3">
         <h6>Links Rápidos</h6>
         <ul class="footer-links">
           <li><a routerLink="/home">Home</a></li>
           <li><a routerLink="/produtos">Produtos</a></li>
           <li><a routerLink="/faq">FAQ</a></li>
           <li><a routerLink="/contato">Contato</a></li>
           <li><a routerLink="/politica-de-privacidade">Políticas de Privacidade</a></li>
         </ul>
       </div>
     </div>

     <hr>

   </div>
   <div class="container">
     <div class="row">
       <div class="col-md-8 col-sm-6 col-xs-12">
         <p class="copyright-text"> Todos os direitos reservados a
           <a class="cristal-copy" href="#">Cristal&copy;</a>.
         </p>
       </div>

       <div class="col-md-4 col-sm-6 col-xs-12">
         <ul class="social-icons">
           <li><a class="facebook" href="https://www.facebook.com/Cristal-Moda-Infantil-115591570196858"
               target="_blank"><i class="fa fa-facebook"></i></a></li>
           <li><a class="instagram" href="https://www.instagram.com/cristal_modainfantil/" target="_blank"><i
                 class="fab fa-instagram"></i></a></li>
           <li><a class="twitter" href="https://twitter.com/CristalInfantil" target="_blank"><i
                 class="fa fa-twitter"></i></a></li>
           <li><a class="youtube" href="https://www.youtube.com/channel/UCU4wKx8AQXPq9jwAmuKp5dQ/featured"
               target="_blank"><i class="fab fa-youtube"></i></a></li>

         </ul>
       </div>
     </div>
   </div>
 </footer>
